.flex {
    display: flex;
    justify-content: space-between;
}
.booksMenu__list {
    text-align: center;
    flex-direction: column;
    width: 20%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 70px 15px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.booksMenu__list > h2 {
    font-family: var(--ObjSans);
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    color: #111053;
    margin-bottom: 20px;
}
.booksIcon {
    width: 100%;
    margin-bottom: 40px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.booksIcon:hover {
    transform: scale(1.1);
}

/* .booksMenu__list > img {
    width: 100%;
    vertical-align: top;
} */

.booksMenu__desc > a {
    display: inline-block;
    background: #f3f3f6;
    padding: 8% 20%;
    font-weight: 900;
    font-size: 18px;
    line-height: 140%;
    border-radius: 10px;
    margin-bottom: 30px;
}
.booksMenu__desc > a:nth-child(3) {
    padding: 8% 24%;
}
.booksMenu__desc > button {
    display: flex;
    align-items: center;
    font-family: var(--ObjSans);
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}
.booksMenu__desc > button > span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/leftArrow.svg);
}
.booksMenu__desc > button > em {
    padding-top: 5px;
    padding-left: 20px;
}

/* main */
#booksSection {
    width: 80%;
}
.booksWrap {
    margin-top: 5%;
    margin-left: 8%;
    min-height: 100vh;
}
.books__header {
    display: flex;
    justify-content: space-between;
    margin-right: 8%;
    margin-bottom: 50px;
}
.books__header > h2 {
    font-family: var(--Timon);
    font-size: 2.2vw;
}

.smallSearch__wrap {
    position: relative;
    display: inline-block;
}

.smallSearchBar {
    appearance: none;
    border: 0;
    background-color: #fff;
    width: 32vw;
    height: 65px;
    border-radius: 50px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.142);
    text-align: center;
}
.smallSearchBtn{
    position: absolute;
    right: 9px;
    top: 7px;
    width: 50px;
    height: 50px;
    background-image: url(../img/SearchIcon01.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.bookAll__img {
    width: 14% !important;
    margin-bottom: 20px;
}
.bookAll__img > a > figure {
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.284);
}
.bookAll__img > a > figure > img {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bookAll__img > a > figure > img:hover {
    transform: scale(1.2);
}

.bookAll__img > a > span {
    display: block;
    text-align: center;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line__two {
   margin-top: 40px;
}

/* 미디어쿼리 */
@media(max-width: 1200px) {
    .booksMenu__list {
        width: 23%;
    }
    #booksSection {
        width: 77%;
    }
    .booksIcon {
        margin-bottom: 60px;
    }
    .booksMenu__list > button {
        margin-top: 30px;
    }

    .smallSearchBar {
        width: 35vw;
    }
} 

@media(max-width: 900px) {
    .booksMenu__list {
        width: 28%;
    }
    #booksSection {
        width: 73%;
    }
    .books__header {
        margin-right: 4%;
    }
    .books__header > h2 {
        font-size: 3vw;
    }
    .bookAll__img {
        width: 21% !important;
    }

}

@media(max-width: 600px) {
    .flex {
        flex-direction: column;
    }
    .booksIcon {
        position: absolute;
        width: 45%;
        right: 28%;
        top: -9%;
        z-index: -1;
        opacity: 0.4;
    }
    .booksMenu__list {
        position: absolute;
        width: 100%;
        height: 175px;
        z-index: 2;
        padding: 10px 0;
    }
    .booksMenu__list > h2 {
        margin-bottom: 30px;
        margin-top: 10px;
    }
    #booksSection {
        width: 100%;
    }

    .booksMenu__desc {
        display: flex;
        justify-content: space-evenly;
    }

    .booksMenu__desc > a {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .booksMenu__desc > a:nth-child(3) {
        padding: 10px 26px;
    }

    .booksMenu__desc > button {
        display: none;
    }

}

@media(max-width: 480px) {
    .smallSearchBar {
        width: 90vw;
    }

}