.booksIcon.pre {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
}

.previewWrap {
    position: relative;
    min-height: 200vh;
    margin-top: 5%;
    margin-left: 6%;
}

.previewWrap > h2 {
    font-family: var(--Timon);
    font-size: 2vw;
    margin-left: 3%;
}

.previewInner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.previewBox {
    position: absolute;
    top: 7%;
    width: 95%;
    background-color: #fdfcfc;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.284);
    box-sizing: border-box;
    padding: 8%;
}

.previewCloseBtn {
    position: absolute;
    right: 12px;
    top: -45px;
    width: 30px;
    height: 30px;
    background-image: url(../img/previewClose.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.previewImg {
    width: 21vw;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.284);
}

.preview__desc {
    width: 50%;
}
.preview__desc .title {
    font-family: var(--Timon);
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.preview__desc .writer {
    margin-bottom: 30px;
    font-size: 1.1rem;
    font-weight: 900;
}
.preview__desc .summary {
    line-height: 1.7;
}

@media(max-width: 600px){
    .previewInner {
        align-items: center;
        flex-direction: column;
    }
    .preview__desc {
        width: 100%;
    }
    .previewImg {
        width: 50vw;
        margin-bottom: 40px;
    }
    .previewBox {
        position: static;
        margin: 0 auto;
        width: 90%
    }
    .previewWrap {
        /* margin-top: 200px;
        margin-left: 5%; */
        margin: 0;
        min-height: 75vh;
        background: transparent;
        padding-bottom: 30px
    }
    .previewWrap > h2 {
        font-size: 1.6rem;
        padding-bottom: 3%;
        margin-left: 8%;
    }
    .previewCloseBtn {
        right: 39px;
        top: 7px;
    }
}